body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    background-color: whitesmoke;
    height: 100%;
}
html {
    height: 100%;
}

.omne,
.recepty,
.fotogalerie {
    padding: 60px 10% 40px 10%;
    overflow: auto;
}

.kontakt {
    padding: 40px 10% 20px 10%;
}

footer {
    background-color: black;
    text-align: center;
    padding: 5px;
    margin-top: 0;
}

header {
    overflow: auto;
}

.omne {
    background-color: white;  
}
.fotogalerie {
    background-color: black;
}

.menu {
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    margin: 0;
    padding: 0;  
    position: fixed;
    width: 100%;
    text-align: center;
}

.uvod {
    background-image: url(obr/uvodni1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

.menu a {
    display: inline-block;
    text-align: center;
    padding: 25px 2%;
    text-decoration: none;
    color: whitesmoke;
}

.menu a:hover,
.menu a:focus,
.menu a:active,
.recepty a:hover,
.recepty a:focus,
.recepty a:active {
    color: silver;
}

.uvod h1 {
    font-size: 80px;
    font-family: 'Coiny', cursive;
    margin-top: auto;
    text-align: center;
    color: white;
    text-shadow: 0 3px 10px black; 
    padding-top: 20%;
}

a {
    font-weight: bold;
    color: grey;
}

.menu img {
  padding: 7px 25px; 
  float: left;
}

.omne img,
.recepty img {
    box-shadow: 0 3px 5px gray;
    border: 2px solid black;
    margin: 0 70px 40px 0;
    float: left;
}

.recepty a {
    padding: 10px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    text-decoration: none;
    border: 4px solid silver;
    font-size: 0.9em;
    display: inline-block;
}

h2 {
    font-family: 'Coiny', cursive;
    color: black;
    font-size: 40px;
}

h3 {
    font-family: 'Coiny', cursive;
    color: black;
    font-size: 25px;   
}

.fotogalerie img {
    width: 32%;
    border: 2px solid black;
    float: left;
}
.fotogalerie h2 {
    color: whitesmoke;
}

.fotodan {
float: right;
margin: 23px 10% 0 0;
}

@media only screen and (max-width: 850px) {
   .menu a {
    padding: 2vw;
   }
   .menu img {
   padding: 10px;
   }
    .uvod h1 {
    font-size: 45px;
    padding-top: 40%;
   }

.uvod {
    background-image: url(obr/uvodni1\ mobil.jpeg);
    background-position: bottom;
    background-attachment: scroll;
    width: 100%;
}

.fotodan,
.menu img {
    display: none;  
    }
}
